{% extends "vozickarskenoviny/base.html"%}
{% load markup simple_ads %}
{% block base_content %}
<div class="row" style="margin-bottom:10px;">
            <div class="span7" style="">
                <div class="row" style="margin-bottom:10px;">
                    <div class="span7">
                        <h2>{{article.title}}</h2>
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px;">
                    <div class="span7">
                        {% if article.video %}
                            <iframe width="640px" height="480px" src="https://www.youtube.com/embed/{{ article.video }}" frameborder="0" allowfullscreen></iframe>
                        {% else %}
                            <img src="{{article.img.url}}">
                        {% endif %}
                        {% if article.img_description or article.img_author %}
                            <p style="font-size: 0.8em">
                                {{article.img_description}} {{article.img_author}}
                            </p>
                        {% endif %}
                        <p style="font-size: 0.7em">
                            {% if article.show_actualization %}
                                Poslední aktualizace:
                            {% else %}
                                Publikováno:
                            {% endif %}
                            {% if article.show_actualization %}
                                {{ article.date_actualization }}
                            {% else %}
                                {{ article.date_creation }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        {% random_ad_by_size '170x400' %}
                        <div style="height: 10px;"></div>
                        {% random_ad_by_size '170x170' %}
                    </div>
                    <div class="span5">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="span5">
                                <p style="text-align: justify;" class="perex">{{article.perex}}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px;">
                            <div class="span5">
                                <div style="margin: 0 auto;text-align: justify;">{{article.text1|markdown}}</div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px;text-align: justify;">
                            <div class="span5 hidden-phone">
                                <center>
                                    <div id="sklikReklama_468"></div>
                                    <script type="text/javascript">
                                        var sklikData = { elm: "sklikReklama_468", zoneId: 44368, w: 468, h: 80 };
                                    </script>
                                    <script type="text/javascript" src="http://c.imedia.cz/js/script.js"></script>
                                </center>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px;">
                            <div class="span5">
                                <div style="margin: 0 auto;">{{article.text2|markdown}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px;"> <!-- GALLERY -->
                    <div class="span6">
                        <div class="row gallery">
                            {% if  article.img1 %}
                            <div class="span2" style="margin-bottom:10px;">
                                <a href="{{article.img1.url}}"><img src="{{article.img1.url}}" alt="{{article.img1_description}}"></a>
                                <p style="font-size: 0.8em">{{article.img1_description}} {{article.img1_author}}</p>
                            </div>
                            {% endif %}
                            {% if  article.img2 %}
                            <div class="span2" style="margin-bottom:10px;">
                                <a href="{{article.img2.url}}"><img src="{{article.img2.url}}" alt="{{article.img2_description}}"></a>
                                <p style="font-size: 0.8em">{{article.img2_description}} {{article.img2_author}}</p>
                            </div>
                            {% endif %}
                            {% if  article.img3 %}
                            <div class="span2" style="margin-bottom:10px;">
                                <a href="{{article.img3.url}}"><img src="{{article.img3.url}}" alt="{{article.img3_description}}"></a>
                                <p style="font-size: 0.8em">{{article.img3_description}} {{article.img3_author}}</p>
                            </div>
                            {% endif %}
                            {% if  article.img4 %}
                            <div class="span2" style="margin-bottom:10px;">
                                <a href="{{article.img4.url}}"><img src="{{article.img4.url}}" alt="{{article.img4_description}}"></a>
                                <p style="font-size: 0.8em">{{article.img4_description}} {{article.img4_author}}</p>
                            </div>
                            {% endif %}
                            {% if  article.img5 %}
                            <div class="span2" style="margin-bottom:10px;">
                                <a href="{{article.img5.url}}"><img src="{{article.img5.url}}" alt="{{article.img5_description}}"></a>
                                <p style="font-size: 0.8em">{{article.img5_description}} {{article.img5_author}}</p>
                            </div>
                            {% endif %}
                            {% if  article.img6 %}
                            <div class="span2" style="margin-bottom:10px;">
                                <a href="{{article.img6.url}}"><img src="{{article.img6.url}}" alt="{{article.img6_description}}"></a>
                                <p style="font-size: 0.8em">{{article.img6_description}} {{article.img6_author}}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px;">
                    <div class="span7">
                        <div class="row">
                            <div class="span">
                                <div id="fb-root"></div>
                                <script src="http://connect.facebook.net/cs_CZ/all.js#appId=218617268163634&amp;xfbml=1"></script><fb:like href="http://vozickarskenoviny.cz{% url "vn.article" article.url_key %}" send="false" layout="box_count" width="90" show_faces="false" action="recommend" font="arial"></fb:like>
                            </div>
                            <div class="span">
                                <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="vozickarskenov" data-url="http://vozickarskenoviny.cz{% url "vn.article" article.url_key %}">Tweet</a>
                                <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                            </div>
                            <div class="span">
                                <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                                <g:plusone size="tall" href="http://vozickarskenoviny.cz{% url "vn.article" article.url_key %}"></g:plusone>
                            </div>
                        </div>
                        <!--  -->
                        {% include "vozickarskenoviny/comments.html" %}
                        <!--  -->
                    </div>
                </div>
            </div>
            <div class="span5" style="">
                <div class="row">
                    <div class="span5">
                        <h4>Další články z rubriky</h4>
                    </div>
                </div>
                {% for obj in related1 %}
                <div class="row" style="margin-bottom:10px;">
                    <div class="span2">
                        <a href="{% url "vn.article" obj.url_key %}"><img src="{{obj.img.url}}"></a>
                    </div>
                    <div class="span3">
                        <h3><a href="{% url "vn.article" obj.url_key %}">{{obj.title}}</a></h3>
                        <p style="font-size: 0.7em">
                            {% if obj.show_actualization %}
                                Poslední aktualizace:
                            {% else %}
                                Publikováno:
                            {% endif %}
                            {% if obj.show_actualization %}
                                {{ obj.date_actualization }}
                            {% else %}
                                {{ obj.date_creation }}
                            {% endif %}
                        </p>
                        <p>{{obj.perex}}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="row" style="margin-bottom:10px;">
                    <div class="span5">
                        <p class="rek">{{ad.text1.text|safe}}</p>
                        <p class="rek">{{ad.text2.text|safe}}</p>
                        <div id="sklikReklama_0" class="hidden-phone"></div>
                        <script type="text/javascript">
                            var sklikData = { elm: "sklikReklama_0", zoneId: 44620, w: 200, h: 400 };
                        </script>
                        <script type="text/javascript" src="http://c.imedia.cz/js/script.js"></script>
                        <p class="rek">{{ad.text3.text|safe}}</p>
                        <p class="rek">{{ad.text4.text|safe}}</p>
                    </div>
                </div>
                {% for obj in related2 %}
                <div class="row" style="margin-bottom:10px;">
                    <div class="span2">
                        <a href="{% url "vn.article" obj.url_key %}"><img src="{{obj.img.url}}"></a>
                    </div>
                    <div class="span3">
                        <h3><a href="{% url "vn.article" obj.url_key %}">{{obj.title}}</a></h3>
                        <p style="font-size: 0.7em">
                            {% if obj.show_actualization %}
                                Poslední aktualizace:
                            {% else %}
                                Publikováno:
                            {% endif %}
                            {% if obj.show_actualization %}
                                {{ obj.date_actualization }}
                            {% else %}
                                {{ obj.date_creation }}
                            {% endif %}
                        </p>
                        <p>{{obj.perex}}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="row" style="margin-bottom:10px;">
                    <div class="span5">
                        <!--<img src="/static/static/vozickarskenoviny/img/234x60.gif" class="rek">-->
                    </div>
                </div>
                {% for obj in related3 %}
                <div class="row" style="margin-bottom:10px;">
                    <div class="span2">
                        <a href="{% url "vn.article" obj.url_key %}"><img src="{{obj.img.url}}"></a>
                    </div>
                    <div class="span3">
                        <h3><a href="{% url "vn.article" obj.url_key %}">{{obj.title}}</a></h3>
                        <p style="font-size: 0.7em">
                            {% if obj.show_actualization %}
                                Poslední aktualizace:
                            {% else %}
                                Publikováno:
                            {% endif %}
                            {% if obj.show_actualization %}
                                {{ obj.date_actualization }}
                            {% else %}
                                {{ obj.date_creation }}
                            {% endif %}
                        </p>
                        <p>{{obj.perex}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock base_content %}
