<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="vozickar, vozickarske noviny, vozickarskenoviny.cz, zabava, noviny, novinky, pro vozickare, bariery, bez barier, bezbarierovy, handicap, hendikep, vozik, ortopedicky, invalidni, invalidní vozík" />
    <meta name="description" content="Zábava - novinky - překvapení. Pestrý výběr zajímavostí a kuriozit ze světa vozíčkářů. Čtěte Vozíčkářské noviny" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon" href="/static/static/vozickarskenoviny/vn.ico" />

    <script type="text/javascript" src="/static/static/lightbox/js/jquery.js"></script>
    <script type="text/javascript" src="/static/static/lightbox/js/jquery.lightbox-0.5.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/static/lightbox/css/jquery.lightbox-0.5.css" media="screen" />

    <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-36606689-13', 'vozickarskenoviny.cz');
    ga('send', 'pageview');

    $(function() {
        $('.gallery a').lightBox();
    });
    </script>


    <!-- START USERHEAD -->
    <title>{% if title %}{{ title }} | {% endif %}Vozíčkářské noviny.cz</title>
    <style type="text/css">
    .readmore {
        text-align: right;
    }


    h3 {
        line-height: 1em;
        margin-top: 0px;
    }

    h4 {
        background: red;
        color: white;
        padding: 5px 5px 5px 15px;
    }

    .perex {
        font-weight: bold;
    }

    a {
        color: black;
    }

    a:hover {
        color: red;
        text-decoration: none;
    }

    .menu a {
        color: white;
    }

    .menu a:hover {
        color: black;
    }

    .header-link h4:hover {
        color: black;
    }

    .white {
        color: white;
    }    .white:hover {
        color: black;
    }

    body {
        overflow-x: hidden;
    }
    </style>
    <!-- END USERHEAD -->
  </head>
  <body>
    <!-- START USERBODY -->
    <div class="container">
        <div class="row">
            <div class="offset2 span8">
                <div style="height: 30px"></div>
            </div>
        </div>
        <div class="row">
            <div class="span4" style="margin-bottom:10px;margin-top:10px;">
                <a href="/"><img src="/static/static/vozickarskenoviny/img/vn-logo-red.png"></a>
            </div>
        </div>
        <div class="row menu" style="margin-left:0;margin-bottom:10px;background-color: red;">
            {% for obj in main_menu %}
                <div class="span" style="padding: 5px; {% if current_section == obj %}background-color: #ffffff;{%endif%}">
                    <center><b><a href="{% url "vn.section" obj.url_key %}" style="font-size: 25px; {% if current_section == obj %} color: red;{%endif%}">{{obj.name}}</a></b><center>
                </div>
            {% endfor %}
        </div>
        {% block base_content %}
        {% endblock base_content %}
        <div class="row" style="margin-top:10px;">
            <div class="span6 hidden-phone">
                <!-- <img src="/static/static/vozickarskenoviny/img/468x60.gif"> -->
                <div id="sklikReklama_54368"></div>
                <script type="text/javascript">
                    var sklikData = { elm: "sklikReklama_54368", zoneId: 44368, w: 468, h: 80 };
                </script>
                <script type="text/javascript" src="http://c.imedia.cz/js/script.js"></script>
            </div>
            <div class="span6 hidden-phone">
                <!-- <img src="/static/static/vozickarskenoviny/img/468x60.gif"> -->
                <div id="sklikReklama_4436"></div>
                <script type="text/javascript">
                    var sklikData = { elm: "sklikReklama_4436", zoneId: 44368, w: 468, h: 80 };
                </script>
                <script type="text/javascript" src="http://c.imedia.cz/js/script.js"></script>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="span3 hidden-phone" style="">
                <!-- <img src="/static/static/vozickarskenoviny/img/240x400.gif"> -->
                <div id="sklikReklama_446820"></div>
                <script type="text/javascript">
                    var sklikData = { elm: "sklikReklama_446820", zoneId: 44620, w: 200, h: 400 };
                </script>
                <script type="text/javascript" src="http://c.imedia.cz/js/script.js"></script>
            </div>
            <div class="span9">
                <div class="row">
                    <div class="span9" style="margin-bottom:10px;">
                        <h4>Nejčtenější články</h4>
                    </div>
                </div>
                <div class="row">
                    {% for obj in popular3 %}
                        <div class="span3" style="">
                            <a href="{% url "vn.article" obj.url_key %}"><img src="{{obj.img.url}}"></a>
                            <a href="{% url "vn.article" obj.url_key %}"><h3>{{obj.title}}</h3></a>
                            <p style="font-size: 0.7em">
                                {% if obj.show_actualization %}
                                    Poslední aktualizace:
                                {% else %}
                                    Publikováno:
                                {% endif %}
                                {% if obj.show_actualization %}
                                    {{ obj.date_actualization }}
                                {% else %}
                                    {{ obj.date_creation }}
                                {% endif %}
                            </p>
                            <p>{{obj.perex}}</p>
                            <p class="readmore"><a href="{% url "vn.article" obj.url_key %}">Číst dále</a></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="offset2 span8 hidden-phone">
                <!-- <img src="/static/static/vozickarskenoviny/img/728x200.gif"> -->
                <div id="sklikReklama_4"></div>
                <script type="text/javascript">
                    var sklikData = { elm: "sklikReklama_4", zoneId: 44367, w: 728, h: 100 };
                </script>
                <script type="text/javascript" src="http://c.imedia.cz/js/script.js"></script>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="span12" style="background-color: red; color:white; font-weight: bold">
                <div class="row menu">
                    {% for obj in main_menu %}
                        <div class="span2" style="padding: 5px;">
                            <center><b><a href="{% url "vn.section" obj.url_key %}">{{obj.name}}</a></b></center>
                            {% for art in obj.last_7_articles %}
                                <a href="{% url 'vn.article' art.url_key %}" style="font-weight: normal;">{{art.title}}</a><br>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="row" style="margin-top: 0px;">
                    <div class="span1">
                        <a href="https://www.facebook.com/vozickarskenoviny" target="_bkank"><img src="{{ STATIC_URL }}fb.png" style="margin-left: 20px"></a>
                    </div>
                    <div class="span11">
                        <center>
                            <p>Vozíčkářské noviny, všechna práva vyhrazena &copy; 2013 - {% now "Y" %} Copyright</p>
                            <p><a href="mailto:redakce@vozickarskenoviny.cz" class="white">redakce@vozickarskenoviny.cz</a></p>
                        </center>
                    </div>
                </div>
                <div class="row" style="font-weight:normal;">
                        <p style="float:right;margin-right:17px;">Vytvořil <a href="http://ondrejsika.com" class="white"><b>Ondrej Sika</b></a>, {{ reads_sum }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END USERBODY -->
    <footer>
    <!-- START USERFOOTER -->
    <!-- END USERFOOTER -->
    </footer>
  </body>
</html>
