<h3 id="comments">Comments</h3>
{% if not article.get_comments %}
    <p>Žádné komentáře.</p>
{% endif %}
{% for comment in article.get_comments %}
    <div class="row">
        <div class="span">
            <h4>{{comment.title}}</h4>
            <p>Autor: <b>{{comment.author_name}}</b> | {{comment.created_at}}</p>
            <p>{{comment.text|linebreaksbr}}</p>
        </div>
    </div>
{% endfor %}
<h3>Přidat komentář</h3>
<form action="" method="post">
{% csrf_token %}
<div class="row">
    <div class="span">
        <input id="id_author_name" type="text" name="author_name" maxlength="64" placeholder="* Jméno" />
    </div>
    <div class="span">
        <input id="id_author_email" type="text" name="author_email" maxlength="64" placeholder="* Email (nebude zobrazen)"/>
    </div>
</div>
<div class="row">
    <div class="span">
        <input id="id_title" type="text" name="title" maxlength="255" class="span7" placeholder="* Titulek"/>
    </div>
</div>
<div class="row">
    <div class="span">
        <textarea id="id_text" rows="5" cols="40" name="text" class="span7" placeholder="Text komwntáře"></textarea>
    </div>
</div>
<div class="row">
    <div class="span">
        <input type="submit" value="Odeslat komentář">
    </div>
</div>
</form>
